.fileCard {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border: 1px white solid;
    margin: 10px;

    text-align: left;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 16px;
}

.fileCard:hover {
    background-color: dimgray;
    cursor: pointer;
}