.introColumn {
    flex: 50%;
    border-right: 1px solid white;
    text-align: center;
}

.recentColumn {
    flex: 50%;
    padding: 10vh 10% 25vh;
    color: white;
    display: flex;
    align-items: center;
}