.visualize-pane {
    border: dashed #ee7813;
}

.out-table {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    background: white;
}


.out-table th, .out-table tr, .out-table td {
    border: 1px solid black;
}

.out-table > thead {
    font-weight: bold;
    background-color: sandybrown;
}

.visButtons {
    margin-right:15px;
}
