.visualize-pane {
    border: dashed #ee7813;
}

.container {
    margin: 0;
    width: 100%;
}

.out-table > th, .out-table > tr {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}

.out-table > thead {
    font-weight: bold;
    background-color: purple;
}

.visButtons {
    margin-right:15px;
}
