[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
english-words = "*"
flask = "*"
requests = "*"
gunicorn = "*"
flask-oauthlib = "*"
requests-oauthlib = "<1.2.0"
SQLAlchemy = "*"
mysqlclient = "*"
braceexpand = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
