@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400&display=swap');

html {
    box-sizing: border-box;
    background-color: #282d34;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hljs {
    display: inline !important;
    padding: 0 !important;
    background: inherit !important;
}

#app {
    width: 100%;
    height: 100%;
}

#modalOverlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fileCard {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border: 1px white solid;
    margin: 10px;

    text-align: left;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 16px;
}

.fileCard:hover {
    background-color: dimgray;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto;
    font-family: "Verdana", "Consolas", sans-serif;
}

.modalBody {
    background-color: #000000;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 25px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    color: white;
}

.modal > * {
    user-select: none;
}

.modalCol {
    flex: 0 0 50%;
}

.modalHeader {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 36pt;
    padding-top: 10px;
    padding-bottom: 5px;
}

.modalContent {
    display: flex;
    width: calc(100% - 20px);
    bottom: 20px;
    height: calc(100% - 90px);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Launch screen */
.row {
    display: flex;
    position: absolute;
    left: 0;
    top: 0; /* Header Height */
    bottom: 0; /* Footer Height */
    width: 100%;
    background-color: #282d34;
    user-select: none;
}

/* Main screen */

.activeLine {
    background: darkblue;
}

.commandIcon {
    width: 24px;
    height: 24px;
    padding: 2px;
    background-color: transparent;
    border: 1px solid transparent;
    overflow-x: hidden;
}

.commandIcon:hover {
    border: 1px solid gray;
}

.commandIcon:focus {
    outline: 1px solid transparent;
}

/* Golden Layout stuff */

.lm_title {
    margin: 5px;
}

.lm_tab {
    height: 24px !important;
    width: 250px;
    cursor: default !important;
    text-align: center;
    font-family: system-ui, sans-serif !important;
    box-shadow: none !important;
}

.lm_header {
    height: 30px !important;
    background: black;
}

.lm_close_tab {
    top: 9px !important;
}

.MuiTypography-body1.MuiTypography-body1 {
    font-family: "Consolas", "Monaco", monospace;
    font-size: 12pt;
}

.MuiCollapse-container.MuiTreeItem-group {
    border-left: 1px dashed white;
    padding-left: 12px;
    margin-left: 12px;
}

/*[class^='Mui'] {*/
/*    transition-duration: 0ms !important;*/
/*}*/

.MuiTreeItem-content {
    padding: 5px 0 5px 0;
}

.newFolderButton {
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Calibri, sans-serif;
    float: right;
}

.newFolderButton:hover {
    background-color: dimgray;
    cursor: pointer;
}